In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is FA41-D089

 Directory of C:\Users\Corey Dearing\Desktop\Aranet

02/21/2024  06:14 PM    <DIR>          .
02/21/2024  06:12 PM    <DIR>          ..
02/21/2024  06:12 PM    <DIR>          .ipynb_checkpoints
02/21/2024  06:12 PM           910,334 Aranet4 2441A_2024-01-25T11_57_16-0500.csv
02/21/2024  06:12 PM         1,925,111 Aranet4 2441A_2024-02-08T19_12_41-0500.csv
02/21/2024  06:12 PM         2,828,532 Aranet4 2441A_2024-02-21T18_08_24-0500.csv
02/21/2024  06:14 PM             1,504 Untitled.ipynb
               4 File(s)      5,665,481 bytes
               3 Dir(s)  408,276,082,688 bytes free

In [3]:
import os

# List all files and directories in the current directory
all_files = os.listdir('.')

# Filter out directories, keeping only filenames
filenames = [f for f in all_files if os.path.isfile(f)]

# Print the filenames
for filename in filenames:
    print(filename)

Aranet4 2441A_2024-01-25T11_57_16-0500.csv
Aranet4 2441A_2024-02-08T19_12_41-0500.csv
Aranet4 2441A_2024-02-21T18_08_24-0500.csv
Untitled.ipynb

In [4]:
import os
import pandas as pd

def filter_csv_files(filenames):
    """Filter out non-CSV files from a list of filenames."""
    return [f for f in filenames if f.endswith('.csv')]

def read_csv_files_to_dataframes(csv_files, prefix='df_'):
    """Read CSV files into Pandas dataframes with a generic naming pattern."""
    dataframes = {}
    for i, filename in enumerate(csv_files):
        df_name = f'{prefix}{i}'
        dataframes[df_name] = pd.read_csv(filename)
    return dataframes

# List all files in the current directory
all_files = os.listdir('.')

# Filter out non-CSV files
csv_files = filter_csv_files(all_files)

# Read CSV files into dataframes
dataframes = read_csv_files_to_dataframes(csv_files)

# Print the names of the created dataframes
print("Created dataframes:", list(dataframes.keys()))

# Access a specific dataframe (e.g., the first one)
print(dataframes['df_0'].head())

Created dataframes: ['df_0', 'df_1', 'df_2']
        Time(dd/mm/yyyy)  Carbon dioxide(ppm)  Temperature(째F)  \
0  12/01/2024 4:04:49 PM                 2499             76.4
1  12/01/2024 4:05:49 PM                 2499             76.4
2  12/01/2024 4:06:49 PM                 2499             76.4
3  12/01/2024 4:07:49 PM                 2499             76.4
4  12/01/2024 4:08:15 PM                 1014             77.8

   Relative humidity(%)  Atmospheric pressure(hPa)
0                    52                     1007.2
1                    52                     1007.2
2                    52                     1007.2
3                    52                     1007.2
4                    47                     1007.3

In [17]:
dataframes['df_2'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57724 entries, 0 to 57723
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Time(DD/MM/YYYY h:mm:ss A)  57724 non-null  object
 1   Carbon dioxide(ppm)         57724 non-null  int64
 2   Temperature(째F)             57724 non-null  float64
 3   Relative humidity(%)        57671 non-null  float64
 4   Atmospheric pressure(hPa)   55202 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ MB

In [11]:
Aranet = pd.read_csv('Aranet4 2441A_2024-02-21T18_08_24-0500.csv')

In [13]:
Aranet.head(10)

,Time(DD/MM/YYYY h:mm:ss A),Carbon dioxide(ppm),Temperature(째F),Relative humidity(%),Atmospheric pressure(hPa)
0,12/01/2024 4:04:49 PM,2499,76.4,52.0,1007.2
1,12/01/2024 4:05:49 PM,2499,76.4,52.0,1007.2
2,12/01/2024 4:06:49 PM,2499,76.4,52.0,1007.2
3,12/01/2024 4:07:49 PM,2499,76.4,52.0,1007.2
4,12/01/2024 4:08:15 PM,1014,77.8,47.0,1007.3
5,12/01/2024 4:09:15 PM,884,78.5,46.0,1007.3
6,12/01/2024 4:10:15 PM,914,79.7,43.0,1007.4
7,12/01/2024 4:11:15 PM,906,79.7,42.0,1007.2
8,12/01/2024 4:12:15 PM,896,79.3,41.0,1007.3
9,12/01/2024 4:13:15 PM,862,78.6,41.0,1007.1

In [15]:
Aranet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57724 entries, 0 to 57723
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Time(DD/MM/YYYY h:mm:ss A)  57724 non-null  object
 1   Carbon dioxide(ppm)         57724 non-null  int64
 2   Temperature(째F)             57724 non-null  float64
 3   Relative humidity(%)        57671 non-null  float64
 4   Atmospheric pressure(hPa)   55202 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ MB

In [18]:

def clean_datetime_column(df, column_name):
    # Convert the column to datetime format
    df[column_name] = pd.to_datetime(df[column_name], format='%d/%m/%Y %I:%M:%S %p')
    
    # Create separate 'Date' and 'Time' columns in the desired formats
    df['Date'] = df[column_name].dt.strftime('%m/%d/%Y')
    df['Time'] = df[column_name].dt.strftime('%H:%M:%S')
    
    # Drop the original column
    df.drop(column_name, axis=1, inplace=True)
    return df

# Clean the date-time column
Aranet = clean_datetime_column(Aranet, 'Time(DD/MM/YYYY h:mm:ss A)')

Aranet.head(10)

,Carbon dioxide(ppm),Temperature(째F),Relative humidity(%),Atmospheric pressure(hPa),Date,Time
0,2499,76.4,52.0,1007.2,01/12/2024,16:04:49
1,2499,76.4,52.0,1007.2,01/12/2024,16:05:49
2,2499,76.4,52.0,1007.2,01/12/2024,16:06:49
3,2499,76.4,52.0,1007.2,01/12/2024,16:07:49
4,1014,77.8,47.0,1007.3,01/12/2024,16:08:15
5,884,78.5,46.0,1007.3,01/12/2024,16:09:15
6,914,79.7,43.0,1007.4,01/12/2024,16:10:15
7,906,79.7,42.0,1007.2,01/12/2024,16:11:15
8,896,79.3,41.0,1007.3,01/12/2024,16:12:15
9,862,78.6,41.0,1007.1,01/12/2024,16:13:15

In [19]:
Aranet.to_csv('aranet4.csv', index=False)