In [1]:
import os
import pandas as pd
# List all files and directories in the current directory
all_files = os.listdir('.')

# Navigate to the "datasets" subdirectory
datasets_dir = 'datasets'
if datasets_dir in all_files and os.path.isdir(datasets_dir):
    os.chdir(datasets_dir)

# List all files and directories in the "datasets" subdirectory
datasets_files = os.listdir('.')
print("Files in the 'datasets' subdirectory:")
for filename in datasets_files:
    print(filename)

Files in the 'datasets' subdirectory:
aranet.csv
Aranet4 2441A_2024-04-11T13_44_43-0400.csv
Aranet4 2441A_2024-04-17T18_04_46-0400.csv
aranet4.csv
aranetExp.csv
windows.npz

In [2]:
import os

filename = '../datasets/Aranet4 2441A_2024-04-17T18_04_46-0400.csv'
if os.path.isfile(filename):
    df = pd.read_csv(filename)
    aranet4 = df.copy()
    aranet4.head()
else:
    print("File not found: ", filename)
aranet4.rename(columns={'Time(DD/MM/YYYY h:mm:ss A)': 'Datetime'}, inplace=True)
aranet4.head()

,Datetime,Carbon dioxide(ppm),Temperature(°F),Relative humidity(%),Atmospheric pressure(hPa)
0,18/01/2024 5:04:30 PM,688,72.9,35.0,1017.2
1,18/01/2024 5:05:30 PM,711,72.8,35.0,1017.2
2,18/01/2024 5:06:30 PM,711,72.8,35.0,1017.2
3,18/01/2024 5:07:30 PM,695,72.8,35.0,1017.2
4,18/01/2024 5:08:30 PM,702,72.8,35.0,1017.2

In [3]:

aranet4['Datetime'] = pd.to_datetime(aranet4['Datetime'], format='%d/%m/%Y %I:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')

In [4]:
aranet4 = aranet4.drop(aranet4.index[:4])
aranet4.head(10)
aranet4.head()

,Datetime,Carbon dioxide(ppm),Temperature(°F),Relative humidity(%),Atmospheric pressure(hPa)
4,2024-01-18 17:08:30,702,72.8,35.0,1017.2
5,2024-01-18 17:09:30,705,72.8,35.0,1017.2
6,2024-01-18 17:10:30,715,72.7,35.0,1017.2
7,2024-01-18 17:11:30,720,72.7,35.0,1017.3
8,2024-01-18 17:12:30,712,72.7,35.0,1017.3

In [5]:
aranet4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129596 entries, 4 to 129599
Data columns (total 5 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Datetime                   129596 non-null  object
 1   Carbon dioxide(ppm)        129596 non-null  int64
 2   Temperature(°F)            129596 non-null  float64
 3   Relative humidity(%)       129472 non-null  float64
 4   Atmospheric pressure(hPa)  127003 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 4.9+ MB

In [6]:
aranet4.to_csv('../datasets/aranet4.csv', index=False)

In [7]:
import sqlalchemy as sql
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, delete, insert, DateTime, Float, Boolean, select, distinct, inspect, Time
from datetime import datetime

# Set the DATABASE_URL environment variable
DATABASE_URL = os.environ.get("DATABASE_URL")
if DATABASE_URL.startswith("postgres://"):
    DATABASE_URL = DATABASE_URL.replace("postgres://", "postgresql://", 1)

# Create the database engine
engine = sql.create_engine(DATABASE_URL)

metadata = MetaData(bind = engine)

In [8]:
aranet4.to_sql('aranet4', engine, if_exists='replace', index=False)

596

In [9]:
metadata = MetaData()
# Query
def query(sql_query):
    data = pd.read_sql_query(sql_query, engine)
    data.index += 1
    return data

q = """
SELECT *
FROM aranet_lecture_data
"""

aranetExp = query(q)
aranetExp.to_csv('../datasets/aranetExp.csv', index=False)